<br />
<a href="https://localhost:44393/MainSite/index">
    <div style="border:solid white 3px; text-align:center;">
        <b style="color:white; font-size:18px">Nazad na početnu stranu</b>
    </div>
</a>