
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section pomoc
{
    <a rel="nofollow" href="https://templatemo.com/contact">Pomoć?</a>
}

<div id="blog" class="our-blog section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="section-heading">
                    <h2>Pogledaje šta je u <em>trendu</em> u našim najnovijim <span>vestima</span></h2>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="top-dec">
                    <img src="~/Images/blog-dec.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="left-image">
                    <a href="#"><img src="~/Images/big-blog-thumb.jpg" alt="Workspace Desktop"></a>
                    <div class="info">
                        <div class="inner-content">
                            <ul>
                                <li><i class="fa fa-calendar"></i> 24 Mar 2021</li>
                                <li><i class="fa fa-users"></i> TemplateMo</li>
                                <li><i class="fa fa-folder"></i> Branding</li>
                            </ul>
                            <a href="#"><h4>SEO Agency &amp; Digital Marketing</h4></a>
                            <p>Da li ste spremni za svet optimizovanjih sajtova? Hajde da napravimo nešto zanimljivo!</p>
                            <div class="main-blue-button">
                                <a href="#">Otkrij više</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="right-list">
                    <ul>
                        <li>
                            <div class="left-content align-self-center">
                                <span><i class="fa fa-calendar"></i> 18 Mar 2021</span>
                                <a href="#"><h4>Novi sajtovi &amp; backlinkovi</h4></a>
                                <p>Počinjete novi projekat ili menjate postojeći? Naša zajednica može da vam pomogne korisnim savetima.</p>
                            </div>
                            <div class="right-image">
                                <a href="#"><img src="~/Images/blog-thumb-01.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-content align-self-center">
                                <span><i class="fa fa-calendar"></i> 14 Mar 2021</span>
                                <a href="#"><h4>SEO Analiza &amp; ideje</h4></a>
                                <p>Saznaj o analitičkim alatima</p>
                            </div>
                            <div class="right-image">
                                <a href="#"><img src="~/Images/blog-thumb-01.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-content align-self-center">
                                <span><i class="fa fa-calendar"></i> 06 Mar 2021</span>
                                <a href="#"><h4>SEO preporuke &amp; digitalni marketing</h4></a>
                                <p>Treba vam više preporuka o optimizaciji? Bez brige, tu smo da pomognemo!</p>
                            </div>
                            <div class="right-image">
                                <a href="#"><img src="~/Images/blog-thumb-01.jpg" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

