
@{
    ViewBag.Title = "portfolio";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section pomoc
{
    <a rel="nofollow" href="https://templatemo.com/contact">Pomoć?</a>
}
<div id="portfolio" class="our-portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>Pogledajte fantastične <em>ponude</em> &amp; koje <span>obezbeđujemo</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="hidden-content">
                            <h4>SEO Analitika</h4>
                            <p>Detaljan predlog izmena za bolju optimizaciju i ocena optimizacije.</p>
                        </div>
                        <div class="showed-content">
                            <img src="~/Images/portfolio-image.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="hidden-content">
                            <h4>Website izveštaji</h4>
                            <p>Precizni izveštaji o stanju websajta.</p>
                        </div>
                        <div class="showed-content">
                            <img src="~/Images/portfolio-image.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="hidden-content">
                            <h4>Test performansi</h4>
                            <p>Regularni test performansi vam pomaže da pratite stanje sajta.</p>
                        </div>
                        <div class="showed-content">
                            <img src="~/Images/portfolio-image.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="hidden-content">
                            <h4>Analiza podataka</h4>
                            <p>Kompletna analiza podataka, stanje dostupnosti podataka.</p>
                        </div>
                        <div class="showed-content">
                            <img src="~/Images/portfolio-image.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

