@model projekat.Models.ModelKoren
@using projekat.Helpers
@{
    ViewBag.Title = "uneta adresa";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section saznaj_jos
{
    Templejt preuzet sa: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
}
@section pomoc
{
    <a rel="nofollow" href="https://templatemo.com/contact">Pomoć?</a>
}
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <h6>Dobrodošli na sajt o optimizaciji</h6>
                            <h2>Preporučujemo usluge <em>SEO checkup-a</em> ukoliko želite da optimizujete vaš sajt.</h2>
                            @HelperMailDisplay.MailDisplay(Model.Eadresa.Adresa)
                            @Html.ActionLink("nazad na unos", "Index", "MainSite")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="~/Images/banner-right-image.png" alt="team meeting">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>